.father {
  display: grid;
  grid-template-columns: 18% 18% 18% 18% 18%;
  grid-template-rows: 25% 25% 25% 25% 25%;
  gap: 3% 3%;
  width: 90%;
  /* background-color: red; */
  margin: 0 auto;
  margin-top: 4rem;
  margin-left: 4rem;
}
